<h1>Name Generator</h1>
<form action="/names" method="post">
  <label for="first_name">
    First name
    <input type="type" name="first_name">
  </label>
  <label for="last_name">
    Last name
    <input type="type" name="last_name">
  </label>
  <input type="submit" value="Submit">
</form>
